<div class="cost-boxes">
    <a class="cost-cards" href="/cost/private-special">
        <div class="cost-images">
            <img src="/images/cost/private-special.webp" alt="Private Special">
        </div>
        <div class="cost-details">
            <h1>
                Private Special
            </h1>
            <p>
                รับเฉพาะลูกค้าไม่เกิน 14 คน สามารถจัดเซ็ตได้หลากหลายมุมห้อง และปรับเปลี่ยน เครื่องดนตรีให้เหมาะกับความต้องการของแต่ละท่าน รับรอง privacy และความเป็นส่วนตัวให้กับลูกค้าทุกท่าน สามารถพูดคุยรายละเอียดเพิ่มเติมให้เหมาะกับงานได้
            </p>
            <div>
                Price 14,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/mobile-band">
        <div class="cost-images">
            <img src="/images/cost/mobile-band.webp" alt="Private Special">
        </div>
        <div class="cost-details">
            <h1>
                Moblie band
            </h1>
            <p>
                ยกระดับความสนุกและความสดใส ในงานช่วงเช้าของคุณได้ พร้อมมอบความสนุกในกิจกรรมผ่านประตูเงินประตูทอง เครื่องเสียงแห่ของเราเป็นลำโพงเคลื่อนที่มาพร้อมไมค์ไวเลส สามารถติดตามขบวน และคล่องตัวสำหรับทุกงานทั้งกลางแจ้งและในร่ม ระยะเวลาเล่นไม่นานแต่สร้างสีสันได้เต็มพิกัดนอกจากนี้ยังสามารถใช้เป็นวงดึงดูดความสนใจสำหรับงานเปิดตัวสินค้า หรือ สร้าง socialimpression ให้กับบูทกิจกรรมต่างๆ ของบริษัทได้อีกด้วย
            </p>
            <div>
                Price 19,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/minigroovy">
        <div class="cost-images">
            <img src="/images/cost/minigroovy.webp" alt="MiniGroory">
        </div>
        <div class="cost-details">
            <h1>
                MiniGroory
            </h1>
            <p>
                เครื่องดนตรีน้อยชิ้นแต่เล่นแน่น มีเครื่องเป่าเด่นไม่เหมือนใคร เหมาะกับงานที่แขกไม่เกิน 100 คน และมีชั่วโมงการเล่นรวมประมาณ 4 ชั่วโมงเท่านั้น ในวงมีนักร้องที่เป็นนักดนตรีด้วยหนึ่งคน ชุดนี้มีจำนวนจำกัดครับ
            </p>
            <div>
                Price 28,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/minigroovy-plus">
        <div class="cost-images">
            <img src="/images/cost/minigroovy-plus.webp" alt="MiniGroovy Plus">
        </div>
        <div class="cost-details">
            <h1>
                MiniGroovy Plus
            </h1>
            <p>
                เหมาะกับงานชิลล์ๆที่มีพื้นที่น้อย และได้รับความนิยมสูงสุดสำหรับเจ้าภาพที่มีงบประมาณจำกัด จำนวนแขกที่เหมาะ 50 - 200 คน ในชุดจะมีนักร้องสองคนทั้งชายและหญิง แค่ 4 คนก็ครบครันและสร้างความสนุกสนานได้
            </p>
            <div>
                Price 35,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/littleeyes-set">
        <div class="cost-images">
            <img src="/images/cost/littleeyes-set.webp" alt="Little eyes Set">
        </div>
        <div class="cost-details">
            <h1>
                Little eyes Set
            </h1>
            <p>
                วงดนตรีสุดหวานพร้อมทีมคู่ใจ ชุดนี้เหมาะกับงานที่ต้องการความนิ่มนวล น่ารักใสๆ สบายๆ โดยเฉพาะงานเช้าที่แขกไม่เกิน 100 คน มดเต็มงานมากแม่
            </p>
            <div>
                Price 22,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/jazz-trio-classic">
        <div class="cost-images">
            <img src="/images/cost/jazz-trio-classic.webp" alt="Jazz trio Classic">
        </div>
        <div class="cost-details">
            <h1>
                Jazz trio Classic
            </h1>
            <p>
                สร้างบรรยากาศของงานให้มีระดับ ด้วยลีลาของเครื่องเป่าและดับเบิ้ลเบสที่เป็นเอกลักษณ์ของไอเฮียร์แบนด์ นำวงด้วยมือทรัมเป็ตอดีตหัวหน้าวง CU Band ชุดนี้เน้นบรรเลงเป็น background music (ไม่มีนักร้อง) จำนวนแขกที่เหมาะสมสามารถยืดหยุ่นได้ตั้งแต่ ก๊วนกอล์ฟ ไปจนถึง แขกเต็มฮอลล์
            </p>
            <div>
                Price 35,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/luxury-morning-set">
        <div class="cost-images">
            <img src="/images/cost/luxury-morning-set.webp" alt="Luxury Morning Set">
        </div>
        <div class="cost-details">
            <h1>
                Luxury Morning Set
            </h1>
            <p>
                วงลักชู เราก็มีครับ เพิ่มความหรูหรามีระดับด้วยดับเบิ้ลเบส เครื่องสาย หรือเครื่องเป่าให้ภาพของความ luxury สำหรับแขกผู้มีเกียรติ เสียงเต็มฟังเพราะนุ่มนวลไม่หนวกหู ได้ทั้งเล่นแบบ background หรือเล่นแบบ show band เหมาะกับงานแต่งงานเช้า หรือใช้เล่นเป็นวงต้อนรับแขกในช่วงแรกของงานเลี้ยงเย็นได้ด้วยเช่นกัน จำนวนแขกที่เหมาะ 100 - 400 คน โดยสามารถเพิ่มนักดนตรีได้ครับ
            </p>
            <div>
                Price 42,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/violin-grand-opening-set">
        <div class="cost-images">
            <img src="/images/cost/violin-grand-opening-set.webp" alt="Violin Grand Opening Set">
        </div>
        <div class="cost-details">
            <h1>
                Violin Grand Opening Set
            </h1>
            <p>
                วงเล่นดึงความสนใจของผู้สื่อข่าวและตากล้อง Social ต่างๆ ด้วยเพลงที่เตรียมมาสำหรับงานเปิดตัวโดยเฉพาะ เพลงคลาสสิคหรือเพลงตื่นเต้น สามารถเลือกได้ตามงาน ใช้เวลาเล่นน้อย และไม่ต้องเซ็ตเครื่องเสียงมาก นักดนตรีลุคดูดี นอกจากนี้สามารถแต่งเพลง(มีค่าใช้จ่ายเพิ่มเติม) โดยเป็นเพลงที่เข้ากับผลิตภัณฑ์หรือสถานที่ได้ด้วย เช่น งานเปิดคลีนิคเสริมความงาม งานเปิดตัวสินค้า
            </p>
            <div>
                Price 35,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/after-party-pro-size-s-m-l-xl">
        <div class="cost-images">
            <img src="/images/cost/after-party-pro-size-s-m-l-xl.webp" alt="After Party Pro (size S, M, L, XL)">
        </div>
        <div class="cost-details">
            <h1>
                After Party Pro (size S, M, L, XL)
            </h1>
            <p>
                เริ่มต้นที่ size S 5 คน ซึ่งเหมาะกับงานปาร์ตึ้ขนาดเล็ก โดยสามารถเพิ่มจำนวนนักดนตรีได้ให้เหมาะกับรูปแบบและจำนวนแขกที่ร่วมงานตั้งแต่ 6, 7, 8, 9 คน ยิ่งจำนวนนักดนตรีเยอะ จะสามารถสร้างบรรยากาศแบบ music festival และลงไปร่วมจอยทำกิจกรรมกับแขกได้มากขึ้น และถ้ามีเครื่องเป่า ก็จะเล่นเพลงได้หลากหลายมากขึ้น จำนวนแขกที่เหมาะ 100 - 500 คน
            </p>
            <div>
                Price 42,000 - 66,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/gala-groove-ensemble">
        <div class="cost-images">
            <img src="/images/cost/gala-groove-ensemble.webp" alt="Gala Groove Ensemble">
        </div>
        <div class="cost-details">
            <h1>
                Gala Groove Ensemble
            </h1>
            <p>
                วงเรามีนักดนตรีที่มีประสบการณ์ในการสร้างบรรยากาศ สามารถเพิ่มengagement ของพนักงาน หรือตัวแทน dealer ต่างๆ ให้เกิดความสนุกสนานประทับใจ ทางวงสามารถแต่งตัวให้เข้ากับธีมงานและสามารถเล่นเพลงพิเศษขององค์กรได้ตามรีเควส พร้อมทั้งเล่น back upให้ผู้บริหารและแขกผู้มีเกียรติทั้งชาวไทยและชาวต่างชาติในงานได้ร่วมร้องเพลงและสนุกกันตลอดทั้งงาน จำนวนแขกที่เหมาะ 150 - 400 คน ( สามารถเพิ่มงบทีมเครื่องเสียงเพื่อรองรับแขกจำนวนมากได้ถึง 800 คน เนื่องจากงานลักษณะนี้ต้องใช้เครื่องเสียงที่มีคุณภาพสูงเป็นพิเศษ )
            </p>
            <div>
                Price 48,000 - 66,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/siam-serenade-sounds">
        <div class="cost-images">
            <img src="/images/cost/siam-serenade-sounds.webp" alt="Siam Seranade Sounds">
        </div>
        <div class="cost-details">
            <h1>
                Siam Seranade Sounds
            </h1>
            <div>
                <p>วงดนตรีไทยประยุกต์ที่มีเครื่องดนตรีไทยผสมผสาน วงไอเฮียร์แบนด์เราเคยเป็นตัวแทนประเทศไทยไปเล่นดนตรีในต่างประเทศมาแล้ว เช่น งานของ ททท. , งานของสถานทูตไทยในสิงคโปร์, งานของสถานทูตและกงสุลต่างๆ ในไทย นอกจากนี้ทางวงได้รับพระมหากรุณาธิคุณอย่างหาที่สุดมิได้จาก ทูลกระหม่อมหญิงอุบลรัตนราชกัญญา สิริวัฒนาพรรณวดี ทูลกระหม่อมฯในฐานะทูตท่องเที่ยว ทรงขับร้องกับวงเราที่ประเทศสวีเดน และประเทศอังกฤษ ครับ</p>
                <p>จำนวนแขกที่เหมาะ 150 - 300 คน ( สามารถเพิ่มงบทีมเครื่องเสียงเพื่อรองรับแขกจำนวนมากได้ถึง 800 คน เนื่องจากการลักษณะนี้ต้องใช้เครื่องเสียงที่มีคุณภาพสูงเป็นพิเศษ )</p>
            </div>
            <div>
                Price 55,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/special-combo-set">
        <div class="cost-images">
            <img src="/images/cost/special-combo-set.webp" alt="Special Combo Set">
        </div>
        <div class="cost-details">
            <h1>
                Special Combo Set
            </h1>
            <p>
                ชุดนี้มีความพิเศษเฉพาะวงไอเฮียร์แบนด์ด้วยทีมเครื่องเป่าที่เป็นมากกว่านักดนตรี แต่เป็นทีมโมบายที่ร่วมลงจากเวทีไปจอยความสนุกกับแขกได้อย่างเต็มพิกัด นำเสนอดนตรีในรูปแบบที่น่าสนใจ มีหัวขบวนรถไฟ สร้างอิมแพคและความอลังการในสไตล์ music festival ให้กับงานของคุณ พร้อมเครื่องเสียงอัพไซส์เพิ่ม subwoofer 2 set เสียงแน่นจนนั่งไม่ติดแน่นอน
            จำนวนแขกที่เหมาะ 200-500 คน
            </p>
            <div>
                Price 90,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
    <a class="cost-cards" href="/cost/extreme-party-with-special-lighting-and-sound-system">
        <div class="cost-images">
            <img src="/images/cost/extreme-party-with-special-lighting-and-sound-systems.webp" alt="Extreme Party with Special Lighting and Sound System">
        </div>
        <div class="cost-details">
            <h1>
                Extreme Party with Special Lighting and Sound System
            </h1>
            <p>
                นักดนตรี 10 คน รวมดีเจ ชุดปาร์ตึ้ตัวจบเพราะประกอบด้วยระบบแสงและระบบเสียง Lighting and Sound systems ด้วยระบบเสียงที่คมชัดเต็มไปด้วยจังหวะและเสียงเบสที่กระหึ่มหนักแน่นเพิ่มเป็นสองเท่าจากชุดปกติ สร้างความสนุกในสไตล์ผับกับเพื่อนๆที่รู้ใจ สาดความมันส์จากสีสันโดยทีมงานที่มีประสบการณ์ในการสร้างบรรยากาศให้กับความเคลื่อนไหวของดนตรี สมาชิกนักดนตรีมีหลายคนจึงสามารถเล่นปาร์ตี้ได้แบบมาราธอนนอนสต็อป ! อย่าถามถึงเวลาพัก เพราะโดยปกติคนเต้นจะเหนื่อยก่อนนักดนตรี
            </p>
            <div>
                Price 120,000 Baht
            </div>
        </div>
        <span class="cost-narrow"></span>
    </a>
</div>