<footer>
    <div>
        <img width="100px" height="100px" src="/images/icons/brand-image.png" alt="brand-icon">
    </div>
    <div class="text-up-size text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit placeat incidunt sit asperiores ducimus quasi tempore adipisci repellendus cumque voluptas 
    </div>
    <div>
        <p><a href="#"><i class="fab fa-youtube"></i></a> xxxxx Subscribers</p>
        <p><a href="#"><i class="fab fa-facebook"></i></a> xxxxx Followers</p>
        <p><a href="#"><i class="fab fa-instagram"></i></a> xxxxx Followers</p>
        <p><a href="#"><i class="fab fa-tiktok"></i></a> xxxxx Followers</p>
    </div>
</footer>