<header>
    <ul class="header-list">
        <li class="header-items"><a href="/"><img id="brand-icon" width="50px" height="50px" src="/images/icons/brand-image.png" alt="brand-icon"></a></li>
        <li class="header-items"><a href="/cost">Cost</a></li>
        <li class="header-items"><a href="/reviews">Reviews</a></li>
        <li class="header-items"><a href="/about_us">About us</a></li>
        <li class="header-items"><a href="/blogs">Blogs</a></li>
        <li class="header-items"><a href="/qa">QA</a></li>
    </ul>
    <div>
        <ul class="header-list">
            <li id="contract-box" class="header-items">
                <!-- Dump contract card -->
                <div class="contract-items">
                    <div class="contract-grid-layout">
                        <div class="contract-image"><img src="/images/contract_owner/profile-photo-default.png" alt=""></div>
                        <div class="contract-name">Name</div>
                        <div class="contract-tel">09xxxxxxx</div>
                    </div>
                </div>
                <div class="contract-items">
                    <div class="contract-grid-layout">
                        <div class="contract-image"><img src="/images/contract_owner/profile-photo-default.png" alt=""></div>
                        <div class="contract-name">Name B</div>
                        <div class="contract-tel">xxxxxxxxxx</div>
                    </div>
                </div>
            </li>
            <li class="header-items"><div class="search-btn"><i class="fa fa-search"></i></div></li>
            <li class="header-items"><div class="hamburger-btn"><i class="fa fa-bars"></i></div></li>
        </ul>
        <span id="contract-nav-left"><i class="fa fa-angle-left"></i></span>
        <span id="contract-nav-right"><i class="fa fa-angle-right"></i></span>
    </div>
    <div class="search-bar">
        <input type="text" name="search-bar-input" id="search-bar-input" placeholder="Search...">
    </div>
</header>
