<nav class="sidebars">
    <ul class="sidebars-list">
        <li class="sidebars-items"><a href="/cost">Cost</a></li>
        <li class="sidebars-items"><a href="/reviews">Reviews</a></li>
        <li class="sidebars-items"><a href="/about_us">About us</a></li>
        <li class="sidebars-items"><a href="/blogs">Blogs</a></li>
        <li class="sidebars-items"><a href="/qa">QA</a></li>
        <li id="contract-box-sidebars" class="sidebars-items">
            <!-- Dump contract card -->
            <div class="contract-items">
                <div class="contract-grid-layout">
                    <div class="contract-image"><img src="/images/contract_owner/profile-photo-default.png" alt=""></div>
                    <div class="contract-name">Name</div>
                    <div class="contract-tel">09xxxxxxx</div>
                </div>
            </div>
            <div class="contract-items">
                <div class="contract-grid-layout">
                    <div class="contract-image"><img src="/images/contract_owner/profile-photo-default.png" alt=""></div>
                    <div class="contract-name">Name B</div>
                    <div class="contract-tel">xxxxxxxxxx</div>
                </div>
            </div>
        </li>
    </ul>
    <span id="contract-nav-left-sidebar"><i class="fa fa-angle-left"></i></span>
    <span id="contract-nav-right-sidebar"><i class="fa fa-angle-right"></i></span>
</nav>