<div class="container">
    <div class="banner">
        <h1>After Party Pro (size S, M, L, XL)</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/after-party-pro-size-s-m-l-xl.webp" alt="After Party Pro (size S, M, L, XL)">
        </div>
        <div>
            After Party Pro (size S, M, L, XL)
        </div>
        <p>
            เริ่มต้นที่ size S 5 คน ซึ่งเหมาะกับงานปาร์ตึ้ขนาดเล็ก โดยสามารถเพิ่มจำนวนนักดนตรีได้ให้เหมาะกับรูปแบบและจำนวนแขกที่ร่วมงานตั้งแต่ 6, 7, 8, 9 คน ยิ่งจำนวนนักดนตรีเยอะ จะสามารถสร้างบรรยากาศแบบ music festival และลงไปร่วมจอยทำกิจกรรมกับแขกได้มากขึ้น และถ้ามีเครื่องเป่า ก็จะเล่นเพลงได้หลากหลายมากขึ้น จำนวนแขกที่เหมาะ 100 - 500 คน
        </p>
        <div>
            Price 42,000 - 66,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>