<div class="container">
    <div class="banner">
        <h1>Extreme Party with Special Lighting and Sound System</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/extreme-party-with-special-lighting-and-sound-systems.webp" alt="Extreme Party with Special Lighting and Sound System">
        </div>
        <div>
            Extreme Party with Special Lighting and Sound System
        </div>
        <p>
            นักดนตรี 10 คน รวมดีเจ ชุดปาร์ตึ้ตัวจบเพราะประกอบด้วยระบบแสงและระบบเสียง Lighting and Sound systems ด้วยระบบเสียงที่คมชัดเต็มไปด้วยจังหวะและเสียงเบสที่กระหึ่มหนักแน่นเพิ่มเป็นสองเท่าจากชุดปกติ สร้างความสนุกในสไตล์ผับกับเพื่อนๆที่รู้ใจ สาดความมันส์จากสีสันโดยทีมงานที่มีประสบการณ์ในการสร้างบรรยากาศให้กับความเคลื่อนไหวของดนตรี สมาชิกนักดนตรีมีหลายคนจึงสามารถเล่นปาร์ตี้ได้แบบมาราธอนนอนสต็อป ! อย่าถามถึงเวลาพัก เพราะโดยปกติคนเต้นจะเหนื่อยก่อนนักดนตรี
        </p>
        <div>
            Price 120,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>