<div class="container">
    <div class="banner">
        <h1>Gala Groove Ensemble</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/gala-groove-ensemble.webp" alt="Gala Groove Ensemble">
        </div>
        <div>
            Gala Groove Ensemble
        </div>
        <p>
            วงเรามีนักดนตรีที่มีประสบการณ์ในการสร้างบรรยากาศ สามารถเพิ่มengagement ของพนักงาน หรือตัวแทน dealer ต่างๆ ให้เกิดความสนุกสนานประทับใจ ทางวงสามารถแต่งตัวให้เข้ากับธีมงานและสามารถเล่นเพลงพิเศษขององค์กรได้ตามรีเควส พร้อมทั้งเล่น back upให้ผู้บริหารและแขกผู้มีเกียรติทั้งชาวไทยและชาวต่างชาติในงานได้ร่วมร้องเพลงและสนุกกันตลอดทั้งงาน จำนวนแขกที่เหมาะ 150 – 400 คน ( สามารถเพิ่มงบทีมเครื่องเสียงเพื่อรองรับแขกจำนวนมากได้ถึง 800 คน เนื่องจากงานลักษณะนี้ต้องใช้เครื่องเสียงที่มีคุณภาพสูงเป็นพิเศษ )
        </p>
        <div>
            Price 48,000 - 66,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>