<div class="container">
    <div class="banner">
        <h1>Jazz trio Classic</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/jazz-trio-classic.webp" alt="Jazz trio Classic">
        </div>
        <div>
            Jazz trio Classic
        </div>
        <p>
            สร้างบรรยากาศของงานให้มีระดับ ด้วยลีลาของเครื่องเป่าและดับเบิ้ลเบสที่เป็นเอกลักษณ์ของไอเฮียร์แบนด์ นำวงด้วยมือทรัมเป็ตอดีตหัวหน้าวง CU Band ชุดนี้เน้นบรรเลงเป็น background music (ไม่มีนักร้อง) จำนวนแขกที่เหมาะสมสามารถยืดหยุ่นได้ตั้งแต่ ก๊วนกอล์ฟ ไปจนถึง แขกเต็มฮอลล์
        </p>
        <div>
            Price 35,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>