<div class="container">
    <div class="banner">
        <h1>Little eyes Set</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/littleeyes-set.webp" alt="Little eyes Set">
        </div>
        <div>
            Little eyes Set
        </div>
        <p>
            วงดนตรีสุดหวานพร้อมทีมคู่ใจ ชุดนี้เหมาะกับงานที่ต้องการความนิ่มนวล น่ารักใสๆ สบายๆ โดยเฉพาะงานเช้าที่แขกไม่เกิน 100 คน มดเต็มงานมากแม่
        </p>
        <div>
            Price 22,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>