<div class="container">
    <div class="banner">
        <h1>Luxury Morning Set</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/luxury-morning-set.webp" alt="Luxury Morning Set">
        </div>
        <div>
            Luxury Morning Set
        </div>
        <p>
            วงลักชู เราก็มีครับ เพิ่มความหรูหรามีระดับด้วยดับเบิ้ลเบส เครื่องสาย หรือเครื่องเป่าให้ภาพของความ luxury สำหรับแขกผู้มีเกียรติ เสียงเต็มฟังเพราะนุ่มนวลไม่หนวกหู ได้ทั้งเล่นแบบ background หรือเล่นแบบ show band เหมาะกับงานแต่งงานเช้า หรือใช้เล่นเป็นวงต้อนรับแขกในช่วงแรกของงานเลี้ยงเย็นได้ด้วยเช่นกัน จำนวนแขกที่เหมาะ 100 - 400 คน โดยสามารถเพิ่มนักดนตรีได้ครับ
        </p>
        <div>
            Price 42,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>