<div class="container">
    <div class="banner">
        <h1>MiniGroovy Plus</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/minigroovy-plus.webp" alt="MiniGroovy Plus">
        </div>
        <div>
            MiniGroovy Plus
        </div>
        <p>
            เหมาะกับงานชิลล์ๆที่มีพื้นที่น้อย และได้รับความนิยมสูงสุดสำหรับเจ้าภาพที่มีงบประมาณจำกัด จำนวนแขกที่เหมาะ 50 – 200 คน ในชุดจะมีนักร้องสองคนทั้งชายและหญิง แค่ 4 คนก็ครบครันและสร้างความสนุกสนานได้
        </p>
        <div>
            Price 35,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>