<div class="container">
    <div class="banner">
        <h1>
            MiniGroory
        </h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/minigroovy.webp" alt="MiniGroory">
        </div>
        <div>
            MiniGroory
        </div>
        <p>
            เครื่องดนตรีน้อยชิ้นแต่เล่นแน่น มีเครื่องเป่าเด่นไม่เหมือนใคร เหมาะกับงานที่แขกไม่เกิน 100 คน และมีชั่วโมงการเล่นรวมประมาณ 4 ชั่วโมงเท่านั้น ในวงมีนักร้องที่เป็นนักดนตรีด้วยหนึ่งคน ชุดนี้มีจำนวนจำกัดครับ
        </p>
        <div>
            Price 28,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>