<div class="container">
    <div class="banner">
        <h1>Mobile Band</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/mobile-band.webp" alt="Moblie Band">
        </div>
        <div>
            Mobile band
        </div>
        <p>
            ยกระดับความสนุกและความสดใส ในงานช่วงเช้าของคุณได้ พร้อมมอบความสนุกในกิจกรรมผ่านประตูเงินประตูทอง เครื่องเสียงแห่ของเราเป็นลำโพงเคลื่อนที่มาพร้อมไมค์ไวเลส สามารถติดตามขบวน และคล่องตัวสำหรับทุกงานทั้งกลางแจ้งและในร่ม ระยะเวลาเล่นไม่นานแต่สร้างสีสันได้เต็มพิกัดนอกจากนี้ยังสามารถใช้เป็นวงดึงดูดความสนใจสำหรับงานเปิดตัวสินค้า หรือ สร้าง socialimpression ให้กับบูทกิจกรรมต่างๆ ของบริษัทได้อีกด้วย
        </p>
        <div>
            Price 19,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>