<div class="container">
    <div class="banner">
        <h1>Siam Seranade Sounds</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/siam-serenade-sounds.webp" alt="Siam Seranade Sounds">
        </div>
        <div>
            Siam Seranade Sounds
        </div>
        <div>
            <p>วงดนตรีไทยประยุกต์ที่มีเครื่องดนตรีไทยผสมผสาน วงไอเฮียร์แบนด์เราเคยเป็นตัวแทนประเทศไทยไปเล่นดนตรีในต่างประเทศมาแล้ว เช่น งานของ ททท. , งานของสถานทูตไทยในสิงคโปร์, งานของสถานทูตและกงสุลต่างๆ ในไทย นอกจากนี้ทางวงได้รับพระมหากรุณาธิคุณอย่างหาที่สุดมิได้จาก ทูลกระหม่อมหญิงอุบลรัตนราชกัญญา สิริวัฒนาพรรณวดี ทูลกระหม่อมฯในฐานะทูตท่องเที่ยว ทรงขับร้องกับวงเราที่ประเทศสวีเดน และประเทศอังกฤษ ครับ</p>
            <p>จำนวนแขกที่เหมาะ 150 – 300 คน ( สามารถเพิ่มงบทีมเครื่องเสียงเพื่อรองรับแขกจำนวนมากได้ถึง 800 คน เนื่องจากการลักษณะนี้ต้องใช้เครื่องเสียงที่มีคุณภาพสูงเป็นพิเศษ )</p>
        </div>
        <div>
            Price 55,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>