<div class="container">
    <div class="banner">
        <h1>Special Combo Set</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/special-combo-set.webp" alt="Special Combo Set">
        </div>
        <div>
            Special Combo Set
        </div>
        <p>
            ชุดนี้มีความพิเศษเฉพาะวงไอเฮียร์แบนด์ด้วยทีมเครื่องเป่าที่เป็นมากกว่านักดนตรี แต่เป็นทีมโมบายที่ร่วมลงจากเวทีไปจอยความสนุกกับแขกได้อย่างเต็มพิกัด นำเสนอดนตรีในรูปแบบที่น่าสนใจ มีหัวขบวนรถไฟ สร้างอิมแพคและความอลังการในสไตล์ music festival ให้กับงานของคุณ พร้อมเครื่องเสียงอัพไซส์เพิ่ม subwoofer 2 set เสียงแน่นจนนั่งไม่ติดแน่นอน
		จำนวนแขกที่เหมาะ 200-500 คน
        </p>
        <div>
            Price 90,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>