<div class="container">
    <div class="banner">
        <h1>Violin Grand Opening Set</h1>
    </div>
    <div class="cost-page-detail">
        <div>
            <img src="/images/cost/violin-grand-opening-set.webp" alt="Violin Grand Opening Set">
        </div>
        <div>
            Violin Grand Opening Set
        </div>
        <p>
            วงเล่นดึงความสนใจของผู้สื่อข่าวและตากล้อง Social ต่างๆ ด้วยเพลงที่เตรียมมาสำหรับงานเปิดตัวโดยเฉพาะ เพลงคลาสสิคหรือเพลงตื่นเต้น สามารถเลือกได้ตามงาน ใช้เวลาเล่นน้อย และไม่ต้องเซ็ตเครื่องเสียงมาก นักดนตรีลุคดูดี นอกจากนี้สามารถแต่งเพลง(มีค่าใช้จ่ายเพิ่มเติม) โดยเป็นเพลงที่เข้ากับผลิตภัณฑ์หรือสถานที่ได้ด้วย เช่น งานเปิดคลีนิคเสริมความงาม งานเปิดตัวสินค้า
        </p>
        <div>
            Price 35,000 Baht
        </div>
        {{template "partials/socials" .}}
    </div>
</div>