{{if (eq .Page "index")}}
    <div class="about-us">
        <h1>ไอเฮียร์แบนด์</h1>
        <p>iHearBand เป็นวงดนตรีที่เป็นเลือกที่อันดับต้นๆในงานแต่งและดนตรีงานอีเว้นท์ต่าง ๆ </p>

        <p>ด้วยประสบการณ์และความคล่องตัวในการจัดรูปแบบวงที่หลากหลายให้เหมาะสมกับงาน เรามีความพร้อมที่จะสร้างความทรงจำที่ดี และทำให้วันสำคัญของคุณมีความพิเศษยิ่งขึ้น</p>

        <button class="about-us-btn" type="button">รู้จักไอเฮียแบนด์ <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i></button>

        <div class="image-box">
            <img src="/images/group_brand_1.jpg" alt="group-party">
        </div>
    </div>
{{else if eq .Page "about_us"}}
    <div class="container">
        <div class="banner">
            <h1>
                รู้จัก ไอเฮียร์แบนด์
            </h1>
        </div>
        <div class="about-us-page-detail">
            <div class="text-icon">
                I HearBrand - Clone
                <p>
                    Wedding & Event Live Brand
                </p>
            </div>
            <p>
                คือ <strong>วงดนตรีงานแต่ง</strong> & <strong>งานอีเว้นท์ปาร์ตี้</strong> ที่ประยุกต์ใช้คอนเซ็ประบบสหกรณ์ในการร่วมงานของนักดนตรี ประสบการณ์มากกว่า 15 ปี เราเล่นดนตรีในงานแต่ง & งานอีเว้นท์มามากกว่า 4,000 งาน และงานอีเว้นท์ที่มีผู้ชมหลากหลายระดับ รวมถึงงานระดับชาติและงานดนตรีในสถานทูตต่างๆมากมาย
            </p>
            <div class="brand-info-1">
                <h2>ทำไมถึงควรพิจารณา iHearBand เป็นตัวเลือกของคุณ ?</h2>
                <p>
                    iHearBand เป็น<strong>วงดนตรี</strong>ที่เป็นตัวเลือกอันดับต้นๆใน<strong>งานแต่ง</strong>และ<strong>ดนตรีงานอีเว้นท์</strong>ต่าง ๆ ด้วยประสบการณ์และความคล่องตัวในการจัดรูปแบบวงที่หลากหลายให้เหมาะสมกับงาน เรามีความพร้อมที่จะสร้างความทรงจำที่ดี และทำให้วันสำคัญของคุณมีความพิเศษยิ่งขึ้น
                </p>
                <ul>
                    <li>ความมืออาชีพและประสบการณ์: iHearBand มีสมาชิกตั้งต้นที่มีความชำนาญและประสบการณ์ในการเล่นดนตรีในงานแต่งมากกว่า 15 ปี เป็นผู้เชี่ยวชาญที่เข้าใจความสำคัญของการให้บริการดนตรีในบรรยากาศพิเศษเช่นงานแต่ง ซึ่งเป็นงานที่ประกอบด้วยผู้ฟังหลากหลายช่วงอายุ และหลากหลายแนวเพลงมากที่สุด หรืองานกาล่าดินเนอร์ ที่ต้องการความหรูหรา สุภาพ แต่ต้องมีความสนุกเป็นความทรงจำในช่วงท้าย หรืองานเลี้ยงบริษัท ที่เน้น engagement และเพิ่มขวัญและกำลังใจพนักงานหรือคู่ค้าเป็นสำคัญ</li>
                    <li>เรามีนักดนตรีรุ่นใหม่ที่มีความมุ่งมั่น: นอกจากสมาชิกที่มีประสบการณ์แล้ว วง iHearBand ยังมีนักดนตรีรุ่นใหม่ที่มีความมุ่งมั่นและความทุ่มเทในการทำงาน น้องๆมีความกระตือรือร้นและตั้งใจที่จะสร้างประสบการณ์ดนตรีที่ยอดเยี่ยมให้กับงานสุดพิเศษของคุณ</li>
                    <li>เรามีจุดมุ่งหมายในการทำงาน: iHearBand มีตัวเลือกเครื่องดนตรีที่หลากหลาย โดยสามารถคัดสรรให้เหมาะกับลักษณะของงาน ไม่ว่าจะเป็นแบบชิลล์ๆ, งานระดับการทูตระหว่างประเทศ, งานแต่งแบบหรูหราลักซูรี่ หรือปาร์ตึ้สุดมันส์ สมาชิกของวงมีความเชี่ยวชาญในการสร้างบรรยากาศของงานได้อย่างลงตัว มุ่งหมายให้ผู้ฟังได้รับประสบการณ์ที่ดีจากการรับรองแขกแต่ละงาน เราจริงจังแม้กระทั่งมีเช็คลิสต์กิจกรรมต่างๆและตัวชี้วัดความพึงพอใจของลูกค้าที่ต้องทำให้สำเร็จในแต่ละงาน</li>
                </ul>
                <p>
                    ด้วยความชำนาญและความมุ่งมั่นของวง iHearBand เราจึงมั่นใจว่าจะเป็นผู้สร้างบรรยากาศดนตรีที่สมบูรณ์แบบในงานแต่งและงานเลี้ยงของคุณ เราสัญญาว่าจะทำให้งานของคุณ<a href="/reviews">น่าประทับใจไม่รู้ลืม</a>
                </p>
                <img src="/images/group_brand_2.webp" alt="brand_2">
            </div>
            <div class="brand-info-2">
                <span class="brand-info-cards">
                    <img src="/images/contract_owner/profile-photo-default.png" alt="iipat">
                    <div>Pat</div>
                    <div>xxx-xxx-xxxx</div>
                </span>
                <span class="brand-info-cards">
                    <img src="/images/contract_owner/profile-photo-default.png" alt="iinat">
                    <div>Nat</div>
                    <div>xxx-xxx-xxxx</div>
                </span>
                <span class="brand-info-cards">
                    <img src="/images/contract_owner/profile-photo-default.png" alt="pajazz">
                    <div>Plathong</div>
                    <div>xxx-xxx-xxxx</div>
                </span>
                <span class="brand-info-cards">
                    <img src="/images/contract_owner/profile-photo-default.png" alt="iiart">
                    <div>Art</div>
                    <div>xxx-xxx-xxxx</div>
                </span>
            </div>
            <div class="brand-info-3">
                <h2>
                    ไอเฮียร์แบนด์
                </h2>
                <p>
                    คือ วงดนตรีที่ใช้ปรัชญาของ Open Source หรือระบบสหกรณ์ในการเข้าร่วมงานของสมาชิก สมาชิกใหม่จะได้รับการโหวตเพื่อมาร่วมกับทีม โดยวงดนตรี iHearBand จะเป็นพื้นที่สำหรับการร่วมสร้างผลงานการ<strong>แสดงดนตรี</strong> และอยู่ร่วมกันได้ด้วยความเป็น<strong>มืออาชีพทางดนตรี</strong> ซึ่งจุดเด่นของวงไอเฮียร์แบนด์คือ
                </p>
                <ul>
                    <li>เป็นวงที่เน้นการมีส่วนร่วมกับผู้ชม คือแจมง่าย ไม่ถือตัว และสมาชิกสามารถใช้การเล่นดนตรีแบบ wireless เพื่อสามารถลงไปหาผู้ชมได้</li>
                    <li>แนวเพลงของวงนั้นกว้างมาก สมาชิกหลายคนเคยอยู่วงมหาวิทยาลัย เช่น CU Band มาก่อน ความกว้างของเราอยู่ที่ Combination ของสมาชิกที่สามารถเล่นได้ตั้งแต่ สุนทราภรณ์ ลูกทุ่ง ร็อค และเพลงสากล</li>
                    <li>เป็นวงที่เล่นปาร์ตี้ดีแต่ก็มีความสุภาพในการวางตัว จึงเหมาะกับงานที่มีแขกหลากหลายระดับรวมทั้งระดับผู้บริหาร</li>
                    <li>เป็นวงที่ผ่านงานราชการระดับสูงมาหลายงานเช่นการเล่นที่สถานทูตไทยประจำสิงคโปร์ติดต่อกันมาเป็นปีที่สี่ เล่นในพระตำหนักสวนจิตรลดาถวายสมเด็จพระเทพฯ นอกจากนั้นยังเล่นที่สถานทูตอเมริกาสถานทูตเนเธอร์แลนด์สถานทูตอังกฤษและเคยได้จดหมายขอบคุณจาก ทูตอเมริกาประจำประเทศไทย</li>
                    <li>รับงานอีเวนท์มายาวนานกว่าสิบปีรวมกว่า 4,000 งาน มีประสบการณ์สูงโดยเฉพาะ<strong>งานแต่งงาน</strong>ที่วงของเราเป็นผู้บุกเบิกตลาดนี้เป็นวงแรกๆ และตามด้วย<strong>งานอีเว้นท์</strong>ที่มาแรงในขณะนี้</li>
                </ul>
                <p>
                    วงเรามีจุดกำเนิดของมาจากการ<strong>เล่นดนตรีในร้านกาแฟ</strong>เมื่อ 15 ปีก่อนและรับงานแสดงดนตรีต่างๆ โดยเฉพาะ งานแต่งงาน งานเปิดตัวสินค้า, คอนโดและงานอีเวนต์อื่นๆ สามารถติดตามผลงานของทางวงได้ที่ Social Media ทาง <a href="youtube.com/iHearBand">youtube.com/iHearBand</a> หรือทางเฟซบุ๊คของวงที่ <a href="facebook.com/ihearband">facebook.com/ihearband</a>
                </p>
            </div>
            <div class="brand-info-4">
                <h2>
                    Clip Vidoes
                </h2>
                <div>
                    <div>
                        <iframe width="560" height="280" src="https://www.youtube.com/embed/M9MBfOb1-OA?si=RnCk-JkmEJytKOkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p>ภาวนา โดย iNattt และ โก้ Mr.Saxman
                            ให้เกียรติร่วมแจม แสดงความเป็นมาวงตั้งแต่ 2010</p>
                    </div>
                    <div>
                        <iframe width="560" height="280" src="https://www.youtube.com/embed/2Wfl2B6tKDk?si=6Ipt2IUCPSVSW9mI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <p>
                            คุณเฟื่องลดา แนะนำ iHearBand 2023 คลิปเดียวรู้จักเกือบทั้งวง และสมาชิกใหม่
                        </p>
                    </div>
                </div>
            </div>
            <div class="brand-info-5">
                <img src="/images/group_brand_2.webp" alt="brand_2">
                <div class="brand-detail">
                    <h2>
                        รายละเอียดวง iHearBand
                    </h2>
                    <div>
                        <p>วงดนตรี iHearBand เป็นวงดนตรีที่เกิดจากการรวมตัวกันของนักดนตรีอาชีพที่เป็นที่ชื่นชอบในทาง Social Mediaผ่านการโหวตเข้าวงโดยสมาชิกที่ติดตามวงใน Social Media และผ่านการเล่นดนตรีมาแล้วมากกว่า 4,000 งานจึงมั่นใจได้ในความมีคุณภาพและใส่ใจลูกค้า สมาชิกวงตั้งต้นหลายคนมาจาก CU Band และยังมีสมาชิกที่ผ่านทั้งเวที The Voice และ Thailand Got Talent มาแล้วมั่นใจได้ทั้งในด้านการแสดงที่สามารถเล่นเพลงได้อย่างหลากหลาย ทุกคนเป็น Micro influencer จึงสามารถร่วมทำการตลาดทางสื่อออนไลน์กับลูกค้าในกิจกรรมต่างๆ ที่ทางวงได้ไปเล่น</p>
                        <p>วง iHearBand เคยเล่นคอนเสิร์ตและร่วมอัดเสียงให้กับศิลปินชื่อดังทั้งสังกัดแกรมมี่และเลิฟอิสมากมายเช่นป๊อดโมเดิร์นด็อก, นพ พรชำนิ, คริสตินา, ลุลา, พาราด็อกซ์, Groove Raider, บี พีรพัฒน์, Jetset’er, ลิปตา, บอย โกสิยพงษ์, กบ ทรงสิทธิ์, ศักดิ์สิทธิ์ แท่งทอง, ปาน ธรพร,ก็อต จักรพันธ์, ปั่น ไพบูลย์, ทรีฟอร์ทรี, โมโนโทนกรุ๊ป,สแตมป์, ตู่ ภพธร ,Academy Fantasia ฯลฯ นอกจากนั้นยังเคยได้รับเชิญไปร่วมแสดงให้กษัตริย์จิกมี่ชมในพระราชวัง ณ ประเทศ ภูฎานด้วยเช่นกัน จึงเป็นวงที่วางตัวได้อย่างมีระดับและสามารถตอบสนองความพึงพอใจของบุคคลสำคัญได้เป็นอย่างดี</p>
                        <p>นอกจากนี้วงเรายังออกสื่อต่างๆเป็นจำนวนมาก โดยเป็นกรณีศึกษาในด้านของนักดนตรีมืออาชีพที่มารวมตัวกันทาง Social Media มากเป็นพิเศษ สำหรับรายการทีวีที่เคยออก</p>
                    </div>
                    <div class="suppoter-box">
                        <div><img src="/images/nationtv-brands.jpg" alt="natioiotv"></div>
                        <div><img src="/images/tv9-brands.jpg" alt="9tv"></div>
                        <div><img src="/images/voicetv-brands.jpg" alt="voicetv"></div>
                        <div><img src="/images/tv5hd-brands.jpg" alt="tv5hd"></div>
                    </div>
                </div>
                <div class=brand-members>
                    <h2>
                        สมาชิกภายในวง
                    </h2>
                    <div>
                        <img src="/images/members-Postall-530x2048.jpg.webp" alt="members">
                    </div>
                </div>
            </div>
            {{template "partials/socials" .}}
        </div>
    </div>
{{end}}