<div class="container cost">
    {{if (eq .Page "index")}}
        <h1>แพคเกจราคา Index</h1>
    {{else if (eq .Page "cost")}}
        <div class="banner">
            <h1>แพคเกจราคา Cost</h1>
        </div>
    {{end}}
    <div>
        <p>
            แพ็คเกจราคาของวงเราทุกชุดเป็นแบบ ”จ่ายแล้วจบ” ครับ ราคารวมเครื่องเสียงแล้ว ทางเจ้าภาพไม่ต้องเตรียมอะไรอีกเลยนอกจากกระแสไฟฟ้าให้ทางวง
            และเมื่อเริ่มงานจะเสียงดังแน่นอน ไม่มีอะไรมาเซอร์ไพรส์หรือดราม่า โดยในส่วนช่วงเวลาที่แสดงเป็นเวลาโดยประมาณของงานแต่งงานและงานเลี้ยงทั่วไป สามารถปรับเลื่อนได้ครับ
        </p>
        <p>
            กรณีที่เป็นงานกลางแจ้งหรืองานที่มีแขกร่วมงานจำนวนมาก หากเจ้าภาพซีเรียสเรื่องเสียงอยากให้ชัดเจนทั่วถึง ทางเราจะมี option เสริมเป็น
            package เครื่องเสียงที่มีอุปกรณ์มากและซับซ้อนขึ้น นอกจากนี้สามารถเพิ่มระบบไฟ LED และ Moving Head โดยเรามีทีม partner มืออาชีพคอยดูแลครับ
        </p>
    </div>
    <div>
        {{template "partials/cost_boxes" .}}
    </div>
</div>