<div class="container">
    <div class="banner">
        <h1>
            ถาม-ตอบ
        </h1>
    </div>
    <div class="qa-page-detail">
        <div>
            <h2>
                ถาม-ตอบ ข้อสงสัยเกี่ยวกับ iHearBand
            </h2>
            <p>
                หน้า ถาม-ตอบ สามารถติดต่อสอบถามได้ที่ คุณพัชร คุณปลาทอง หรือคุณไอนัท
            </p>
        </div>
        <div>
            <h2>
                ถาม : ทำไมต้อง iHearBand ? 
            </h2>
            <p>
                <p> ตอบ :</p>
                <p>
                    สมาชิกทุกคนของไอเฮียร์แบนด์ มีความทุ่มเทเพื่อการทำงานให้ลูกค้าพึงพอใจ พวกเรามีนิสัยที่ชอบสังเกตลักษณะของงานและคอยรักษาบรรยากาศที่เหมาะสมกับงาน มีความสุภาพ และพยายามแก้ไขปัญหาต่างๆรวมทั้งเล่นดนตรีอย่างเต็มที่ตามสัญญาที่ได้ให้ไว้กับลูกค้าอย่างแท้จริง
                </p>
            </p>
        </div>
        <div>
            <h2>
                ถาม : วงดนตรีของเรา แตกต่างจากวงอื่นๆอย่างไร
            </h2>
            <p>
                <p> ตอบ :</p>
                <p>
                    <ol>
                        <li>เป็นเรื่องง่ายที่วงดนตรีวงหนึ่งจะตั้งขึ้นมาจากการรวมตัวของนักดนตรี และหากเกิดความผิดพลาดใหญ่ในการทำงานเพียงครั้งเดียวก็อาจใช้ชื่อวงเดิมต่อไปได้ยากและต้องเปลี่ยนชื่อ แต่ทว่าวง iHearBand นั้นก่อตั้งมา 12 ปีแล้ว เรามีความแข็งแกร่งของแบรนด์และมีประวัติการทำงานที่ทุ่มเท มี feedback ลูกค้าที่ดีตลอดมาเพราะเราต้ังใจทำงานเพื่อมอบประสบการณ์ที่ดีให้แก่ลูกค้าอย่างจริงจังจากมูลค่าแบรนด์ของเราที่ใช้มาเนิ่นนาน</li>
                        <li>วง iHearBand นั้นเป็นระบบสหกรณ์นักดนตรี วงของเราไม่มีหัวหน้าวง แต่มีสมาชิกที่คอยช่วยเหลือกัน ทุกคนสามารถเป็นคนรับงานจากลูกค้าและผลัดกันเป็นหัวหน้าทีมในแต่ละงานได้ ทำให้นักดนตรีแต่ละคนมีความเข้าใจการทำงานซึ่งกันและกันตลอดทั้งกระบวนการทั้งการติดต่อ ประสานงานหน้างานและรับผิดชอบลูกค้าเป็นอย่างดี ส่งผลให้สมาชิกทุกคนมีแนวทางไปในทิศทางเดียวกัน ไม่มีความขัดแย้งกัน ทำให้คุณภาพของงานและการเล่นดนตรีออกมาดี ระบบสหกรณ์นั้นยังมีความโปร่งใสของรายได้ในแต่ละงาน ทำให้เกิดแรงจูงใจในการพยายามทำงานให้ดีในทุกๆงาน ต่างจากระบบหัวหน้าวงแบบดั้งเดิมที่สมาชิกวง มักไม่ทราบว่าแต่ละงานหัวหน้าวงดีลมาอย่างไรแบบไหนบ้าง</li>
                        <li>วง iHearBand มีลักษณะของ academy มีการพัฒนานักดนตรีรุ่นใหม่มาร่วมทีมด้วยอย่างสม่ำเสมอทำให้วงมีความสดใสอัพเดทตลอดเวลา และมีการแบ่งปันความรู้รวมถึงพูดคุยถึงการทำงานในแต่ละครั้งเพื่อมาหาข้อปรับปรุงต่างๆอยู่อย่างสม่ำเสมอ วัฒนธรรมองค์การของเราคือเมื่อจบงานแต่ละงาน แต่ละคนจะเอาความพึงพอใจและผลงานมาอวดกันตลอด เป็นความสุขในการทำงานอย่างแท้จริง</li>
                    </ol>
                </p>
            </p>
        </div>
        <div class="contracts">
            <h2>สนใจติดต่อ</h2>
            <div>
                <div class="contract-info-box">
                    <div>
                        <img src="/images/contract_owner/profile-photo-default.png" alt="iinat">
                    </div>
                    <div>
                        <p>iNattt</p>
                        <p>xxx-xxx-xxxx</p>
                    </div>
                </div>
                <div class="contract-info-box">
                    <div>
                        <img src="/images/contract_owner/profile-photo-default.png" alt="iipat">
                    </div>
                    <div>
                        <p>iPattt</p>
                        <p>xxx-xxx-xxxx</p>
                    </div>
                </div>
                <div class="contract-info-box">
    
                    <div>
                        <img src="/images/contract_owner/profile-photo-default.png" alt="pajazz">
                    </div>
                    <div>
                        <p>Pajazz</p>
                        <p>xxx-xxx-xxxx</p>
                    </div>
                </div>
                <div class="contract-info-box">
                    <div>
                        <img src="/images/contract_owner/profile-photo-default.png" alt="bank">
                    </div>
                    <div>
                        <p>Bank</p>
                        <p>xxx-xxx-xxxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>